In [106]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

In [107]:
df = pd.read_csv('glassdoor_data_analyst_jobs.csv')
df.head()

,Job Title,Salary Estimate,Job Function,Job Description,Company Name,Rating,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,Data Analyst,MYR 25K - MYR 91K (Employer est.),Data Analyst,Your work makes the difference between a user ...,Citymapper,-1.0,Kuala Lumpur,-1,-1,-1,-1,-1,-1
1,Data Analyst Intern,-1,Data Analyst,Funding Societies | Modalku is the largest SME...,Funding Societies,3.7,Kuala Lumpur,201 to 500 Employees,2015,Company - Private,Lending,Finance,Unknown / Non-Applicable
2,DATA ANALYST,MYR 42K - MYR 60K (Employer est.),Data Analyst,Basic Background & Requirement:\nBachelor in A...,MyFundAction,-1.0,Shah Alam,-1,-1,-1,-1,-1,-1
3,Industry Analyst,MYR 48K - MYR 65K (Employer est.),Analyst,This is a permanent work-from-home position.\n...,ENF Solar Ltd.,-1.0,Kuala Lumpur,-1,-1,-1,-1,-1,-1
4,Data Migration Analyst,MYR 96K (Employer est.),Data Analyst,Requirements\n· Must be Malaysian\nJob Descrip...,AMK Technology Sdn Bhd,4.2,Kuala Lumpur,201 to 500 Employees,2002,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable

In [108]:
#make title as data analyst (do later)
#remove job function (do later)
#salary parsing

In [109]:
df.shape
df = df.drop(columns='Job Function')

In [110]:
#salary parsing
df[df["Salary Estimate"] == "-1"].shape

(259, 12)

In [111]:
df2 = df[df["Salary Estimate"] != "-1"]

In [112]:
df2['salary_estimate_split'] = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [113]:
df2['salary_estimate_split'] = df2['salary_estimate_split'].apply(lambda x: x.replace('MYR','').replace('K',''))

In [114]:
df2['salary_estimate_hourly'] = df2['salary_estimate_split'].apply(lambda x: 1 if 'Per Hour' in x else 0)

In [115]:
df2['salary_estimate_split'] = df2['salary_estimate_split'].apply(lambda x: x.replace('Per Hour',''))

In [116]:
df2['min_salary'] = df2['salary_estimate_split'].apply(lambda x: int(str(x.split('-')[0])))
df2['max_salary'] = df2['salary_estimate_split'].apply(lambda x: int(str(x.split('-')[1] if '-' in x else str(x.split('-')[0]))))
df2['min_salary'].dtype
#df2['max_salary'] = df2['salary_estimate_split'].apply(lambda x: int(x.split('-')[1]))

dtype('int64')

In [117]:
df2['avg_salary'] = (df2['max_salary']+df2['min_salary'])/2

In [118]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Company Name',
       'Rating', 'Location', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue'],
      dtype='object')

In [119]:
#age of company
df2['age'] = df2['Founded'].apply(lambda x: x if x<1 else 2020 - int(x))

In [120]:
#company name text only (no need)
#change state to KL,etc (no need)

#parsing of job description (python,etc)
df2['Job Description'][0]

"Your work makes the difference between a user seeing a bus drive away or reaching it just in time. We feel a great sense of responsibility at Citymapper. Millions of users around the world trust our green app to be on time for work, a job interview or a date.\nAs one of our Data Analysts you will build the timetable data that powers the Citymapper app and help launch new cities. You'll use secret magic (and our internal tools) to transform often messy transit schedules into shiny and reliable user information whilst building, validating, and shipping data directly to users on a daily basis.\nWorking with our engineers to improve tools and automate tasks, you'll manage data in a range of cities across different formats.\nThis role is designed for contractors based in Malaysia."

In [121]:
#power bi
df2['power_bi_yn'] = df2['Job Description'].apply(lambda x: 1 if 'power bi' in x.lower() else 0)
#tableau
df2['tableau_yn'] = df2['Job Description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
#python
df2['python_yn'] = df2['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
#sql
df2['sql_yn'] = df2['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
#excel
df2['excel_yn'] = df2['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
#machine learning
df2['machine_learning_yn'] = df2['Job Description'].apply(lambda x: 1 if 'machine learning' in x.lower() else 0)
df2['power_bi_yn'].value_counts()

0    224
1     17
Name: power_bi_yn, dtype: int64

In [122]:
df2.to_csv('salary_data_cleaned.csv', index=False)